body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family:tahoma;font-size:12px;
}
.form-child-center{
    text-align:center;
}

.oneKey {
    width:80px;
}

.table tfoot tr.success > td{
    background-color: #dff0d8;
    font-weight: bold;
}

.w150{
    width:150px;
}
