body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family:tahoma;font-size:12px;
}
.form-child-center{
    text-align:center;
}

.changeMode, .oneKey {
    width:80px;
}

.table tfoot tr.success > td{
    background-color: #dff0d8;
    font-weight: bold;
}

.w150{
    width:150px;
}
.welcome{
    text-align:center;
    color:white;
    margin-top: 10px;
    font-size: 18px;
}

/*登录框*/
.loginBox {
    width:320px;
    margin-left:-160px;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

    